@font-face {
  font-family: "Oriental Cats";
  src: url("/fonts/OrientalCats.otf");
}

@font-face {
  font-family: "Satreva";
  src: url("/fonts/Satreva.ttf");
}

html {
}

html,
body,
button {
  margin: 0;
  font-family: 'Satreva', sans-serif;
}

/*typography*/

h1,
h2,
h3,
h4 {
  text-align: center;
  font-weight: 100;
}

h1,
h2 {
  color: #fff;
  margin: 0;
  font-family: 'Oriental Cats'
}

h1 {
  margin-top: 5px;
  font-size: 60px;
  line-height: 49px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 45px;
  margin-top: 80px;
}

h4 {
  font-size: 40px;
  margin: 0;
}

p {
  font-size: 25px;
  letter-spacing: 3px;
}

/* layout */
body {
  background-color: #222;
  color: #fff;
  cursor: url("/images/cursor.png"), default;
}

.header-inner {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 40px;
  padding: 10px 0 0 0;
  margin-top: 20px;
}

.cat-logo {
  width: 80px;
}

.emoticon {
  width: 100px;
}

/* Check Section */
.check-section {
  user-select: none;
  width: 160px;
  padding: 10px 20px 10px 10px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
}

.check-section:hover {
  box-shadow: 0 0 0 1px white;
  cursor: url('/images/pointer.png'), pointer;
}

.check-section:active, button:active {
  transform: translate(0px, 2px);
}

#animated-check {
  width: 25px;
  height: 43px;
  padding: 0 6px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 30px;
}


/* Image Buttons */
.cat-moods-btns {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  width: 450px;
}

button {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: none;
  border: 0;
  color: white;
  font-size: 40px;
  padding: 10px;
  line-height: 20px;
  border-radius: 10px;
}

button:hover {
  box-shadow: 0 0 0 1px#fff;
  cursor: url('/images/pointer.png'), pointer;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 10px;
}

/* modal */

.modal-bg {
  background-color: #222222a0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
}

.meme-modal {
  position: fixed;
  margin: auto;
  top: 80px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
  width: fit-content;
  padding: 20px 20px 0;
  background-color: #222;
}

.cat-img {
  max-width: 340px;
  max-height: 420px;
  border-radius: 5px;
}